body {
   /* overflow: hidden; /* hides scroll bar */
}

.top {
    background: linear-gradient(to right, white, #3BB273, white);
    /* background: linear-gradient(-90deg, white, #3BB273);*/
   /* background: radial-gradient(#3BB273, #FFF);*/
   /* overflow: auto; */
    margin-top: 0;
    margin-bottom: 0;
   padding: 15px 10px 10px 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-img-left {
    width: 80px;
    float: left;
}

.top-img-right {
    height: 100px;
    float: right;
}


.top-text {
    font-family: 'impact', sans-serif;
    font-size: 40pt;
    color: #FFF;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    /*position: absolute;*/
    padding-left: 10px;
}

.top-text:hover {
    text-decoration: none;
    color: #FFF;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

.page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.page-nav li {
    float: left;
}

.page-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.page-nav a:hover {
    background-color: #111;
    color: white;
}


.submitbutton {
    background-color: green;
    color: white;
    font-weight: bold;
}

.submitbutton:hover{
    color: white;
}



