{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>As-Siddiq Display</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Quicksand" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/display.css' %}?20170529.1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Pages refresh time in seconds -->
        <meta http-equiv="refresh" content="1800">
    </head>
        <div class="top">
            <img src="{% static 'images/amo_cresent_rope.gif' %}" class="top-img-left">
            <span class="top-text">As-Siddiq Muslim Organization</span>
            <img src="{% static 'images/bismillah.png' %}" class="top-img-right">
            <!--<a href="/display"> <img src="{% static 'images/ramadan-kareem.png' %}" class="top-img-right-ramadan"> </a>-->
        </div>
     <body class="site-body">
        <div class="fluid-container">
                {% block message_bar %}
                {% endblock %}
            <div class="site-content">
                {% block site_content %}
                {% endblock %}
            </div>
        </div>
    </body>


    <footer class="footer">

        <div class="row">
       <div class="col-md-3">
           <img  class="social-icon" src="{% static 'images/facebook.png' %}" alt="facebook icon"> assiddiq.muslim.org
       </div>
       <div class="col-md-3" >
            <img  class="social-icon" src="{% static 'images/instagram.png' %}" alt="instagram icon"> @assiddiqmasjid
       </div>
       <div class="col-md-3">
            <img  class="social-icon" src="{% static 'images/twitter.png' %}" alt="twitter icon"> @assiddiqmasjid
       </div>
       <div class="col-md-3">
            <img  class="social-icon" src="{% static 'images/youtube.png' %}" alt="youtube icon"> youtube.com/c/AssiddiqOrg
       </div>
        </div>
    </footer>

</html>
