{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>As-Siddiq Display</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/display.css' %}">
    </head>
    <body class="page-body">
        <div class="page-header">
          <a href="/display"> <img src="{% static 'images/amo_cresent_rope.gif' %}"> </a>
          <h1>As-Siddiq Muslim Org.</h1>
        </div>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block site_content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
