{% extends 'display/base.html' %}

{% block message_bar %}
<div id="message-bar" class="box_shadow">
    <div class="scroll-slow">
        <p>
            {{ messages|safe }}
        </p>
    </div>
</div>
{% endblock %}

{% block site_content %}
<div class="row">
    <div class="col-md-6 body-content">
            <div class="body-content-header"><h3>Iftar Calendar</h3></div>
            <iframe class="g-cal" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=assiddiq.org_ie172jchjrg5qdmr7ol4oa7vrk%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0; float:center;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>

    <div class="col-md-4 body-content">
        <div class="body-content-header"><h3>Events</h3></div>
        <div class="events box_shadow">
        {% for event in events %}
            <div class="event">
                <div class="date">
                    <p>Event Date: {{ event.event_date }}</p>
                </div>
                <h1><a href="">{{ event.title }}</a></h1>
                <p>{{ event.detail|linebreaksbr }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="col-md-2 body-content">
        <div class="body-content-header"><h3>Donations</h3></div>
        <div class="donation-box">
            <p>2017 Goal: {{ goal_amount }}</p>
            <div class="donate-bar box_shadow round-btm">
                <div class="donate-bar-progress box_shadow round-btm" style="height:{{ goal_percent }}%"></div>
            </div>
            <p>Collected: {{ goal_collected }}</p>
            <p>Remain: {{ goal_remain }}</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}


