{% extends 'display/base.html' %}

{% block message_bar %}
<div id="message-bar" class="drop-shadow">
    <div class="scroll-slow">
        <p>
            Salaam &nbsp;Welcome to Masjid As-Siddiq Display Board&nbsp;Various Messages will be displayed here &nbsp;
        </p>
    </div>
</div>
{% endblock %}

{% block site_content %}
<div class="row">
    <div class="col-md-8 body-content">
            <div class="body-content-header"><h3>Iftar Calendar</h3></div>
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=assiddiq.org_ie172jchjrg5qdmr7ol4oa7vrk%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=America%2FNew_York" style="border-width:0; float:center;" width="750" height="600" frameborder="0" scrolling="no"></iframe>
        </div>

    <div class="col-md-3 body-content">
        <div class="body-content-header"><h3>Today's Date</h3></div>
        <div id="cal-card">
            <div id="cal-card-day">
                <h1>{{ today_day }}</h1>
            </div>
            <div id="cal-card-month">
                <p>{{ today_month }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-1 body-content">
        <div class="body-content-header"><h3>Donations</h3></div>
        <div id="fund-box" class="drop-shadow">

            <p>Goal: {{ goal_amount }}</p>
        <div class="progress progress-bar-vertical hover-effect">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ goal_collected }}" aria-valuemin="0" aria-valuemax="{{ goal_amount }}" style="height: {{ goal_percent }}%;">
          <span class="sr-only">{{ goal_percent }}% Complete</span>
        </div>
      </div>
         <p>Collected: {{ goal_collected }}</p>
            <p>Remain: {{ goal_remain }}</p>
        </div>
    </div>
</div>

{% endblock %}


